body {
	padding-top: 5pc;
	padding-bottom: 2pc;
}

pre#logs {
	height: 37pc;
}

.spinner {
	margin-left: 3pc;
}

.status {
	width: 30%;
	margin-right: 2pc;
	display: inline-block;
}

.version {
	display: inline-block;
}
